{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'allcounters.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'LOGO.png' %}">
    <title>FasFood - Keren!</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <a class="navbar-brand atur-logo" href="/">
            <img src="{% static 'LOGO.png' %}" width="30" height="auto" class="d-inline-block align-middle" alt=""> FasFood
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/counters/food">FOODS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/counters/drink">DRINKS<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="cari">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Es Kelapa
                            </div>
                            <a href="eskelapa/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Minum Boss
                            </div>
                            <a href="minumboss/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Minuman Kemasan
                            </div>
                            <a href="minumankemasan/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Minuman Sachet
                            </div>
                            <a href="minumansachet/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Mas Yono
                            </div>
                            <a href="masyono/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row tengah">
                    <div class="col">
                        <div class="photo">
                            <img src="{% static 'MINUMAN.jfif' %}" alt="Drink Counter">
                        </div>
                    </div>
                    <div class="col">
                        <div class="tulisanbutton justify-content-center">
                            <div class="nama">
                                Yoshinoya
                            </div>
                            <a href="yoshinoya/"><button type="button" class="btn btn-warning">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>