body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #F8B500;
}

.photo img {
    width: 15rem;
    height: auto;
}

.photo {
    text-align: right;
}

.tulisanbutton .nama {
    font-size: 2rem;
}

.tulisanbutton .btn {
    font-size: 1rem;
}

.container .row {
    padding: 2%;
}

.tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.atur-logo {
    padding: 0;
}

.container {
    padding-top: 3%;
}