body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #F8B500;
}

.feedback {
    height: 100%;
    padding: 2rem;
}

.judulfeedback {
    color: black;
    font-size: 2.5rem;
}

#Table {
    padding-top: 2rem;
    margin: 0;
}

.btn {
    float: right;
    background-color: #F8B500;
}