.container {
    background-color: #F8B500;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #F8B500;
}

.wrapper-search {
    margin-top: 10vh;
}

.foto-makanan {
    width: 50%;
    height: auto;
}