body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

.center-text {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.parallax {
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-image: url('/static/homepagefoodimage.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #F8B500;
}

.outer-div {
    padding-top: 4.8vw;
    padding-bottom: 2vw;
}

.inner-div {
    opacity: 1;
    animation: fade 3s linear;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }
    50%,
    100% {
        opacity: 1
    }
}

.center-element {
    display: flex;
    justify-content: center;
}

.text-container p {
    margin: 0;
    font-size: 41px;
}

p {
    font-size: 40px;
}

.story-platform {
    margin: auto;
    width: 50%;
    font-size: 25px;
}

.button-here {
    font-size: 13px;
    border-radius: 10px;
    background-color: #F8B500;
    transition: font-size 1s;
}

.button-here:hover {
    font-size: 20px;
}

.submit-button {
    float: right;
}

.form-size {
    width: 50%;
}

.warna-button {
    background-color: #F8B500;
}

.atur-logo {
    padding: 0;
}